/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f0fe;
    color: #333;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
}

header nav {
    margin-top: 1rem;
}

header nav a {
    margin: 0 15px;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Proyectos */
#proyectos {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#proyectos h2 {
    margin-bottom: 2rem;
}

.contenedor-proyectos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.proyecto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    flex: 1;
    margin: 0 1rem;
    padding: 1rem;
    max-width: 500px;
}

.proyecto:hover {
    transform: scale(1.05);
}

.proyecto img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.proyecto h3 {
    color: #003366;
    font-size: 1.5rem;
}

/* Sobre mí */
#sobre-mi {
    background-color: #f1f8ff;
    border-radius: 8px;
    padding: 2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 4rem auto; /* Aumenta el margen superior */
    color: #003366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contacto */
#contacto {
    padding: 3rem 1rem;
    background-color: #003366;
    color: #fff;
    border-radius: 8px;
    margin-top: 4rem; /* Separación con la sección anterior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centra el contenido */
}

#contacto a {
    font-weight: bold;
    color: #ffdd00;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #003366;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 2rem;
}


